<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/logstyle1.css">
    <title>LogIn</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="/create_account" method="POST">
                {% if message %}
                <p class="error-message">{{ message }}</p>
                {% endif %}
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <input type="text" id="username" name="username" placeholder="USERNAME"  required>
                <input type="password" id="password" name="password"  placeholder="PASSWORD" required>
                <input type="text" id="name" name="NAME" placeholder="NAME"  required>
                <input type="email" id="email" name="Email" placeholder="Email" required>
                <input type="number" id="age" name="Age" placeholder="Age"  required>
                <input type="text" id="phone" name="Phone_No" placeholder="Phone_NO" required>
                
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="/login" method="POST">
                {% if message %}
                <p class="error-message">{{ message }}</p>
                {% endif %}
                <h1>LogIn</h1>

                
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>

                <input type="text" class="input-field" name="username" placeholder="username" autocomplete="off" required>
                <input type="password" class="input-field" name="password" placeholder="passowrd" autocomplete="off" required>
                <div class="forgot">
                    <section>
                        <input type="radio" id="customer" name="user_type" value="Customer">
                        <label for="customer">Customer</label>
                    </section>
                    
                    <section>
                        <input type="radio" id="admin" name="user_type" value="admin">
                        <label for="admin">Admin</label>
                    </section>
                </div>
                <a href="#">Forget Your Password?</a>
                <button value="Login">LogIn</button>
                
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">LogIn</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/css/logscript.js"></script>
</body>

</html>